body {
    font-family: Arial, sans-serif;
    background:#000;
    color: #ffe;
    margin: 0;
    padding: 0;
}

header {
    background: url(https://st5.depositphotos.com/2470337/68163/v/380/depositphotos_681637594-stock-illustration-abstract-vector-green-cyberpunk-halftone.jpg) fixed;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    text-shadow: 0 0 25px #00f;
    text-align: center;
}

p{
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 90px;
    margin-bottom: 0;
    text-shadow: 0 0 15px #00f;
}


.box {
    max-width: 100%;
    height: 300px;
    background: url("https://media4.giphy.com/media/QBd2kLB5qDmysEXre9/200.webp?cid=790b7611dxytwnkp2t2yrj09a04yb36k3gl2awtbothsc0t2&ep=v1_gifs_search&rid=200.webp&ct=g") center / auto fixed #6fa
}